div.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 760px;
    width: 100%;
}

xn-card {
    margin-right: 10px;
}
