:host {
    border: 1px solid gray;
    align-content: center;
    border: 1px solid #333;
    display: flex;
    flex-basis: 1;
    font-size: 3em;
    justify-content: center;
    margin-bottom: 10px;

    // maintain aspect ratio
    width: 130px;
    height: 130px;

    background-image: url(../../../assets/img/cardback.png);
    background-size: 130px 130px;
    img {
        z-index: -1;
        height: 130px;
    }

    &.open {
        background-image: inherit;
    }
}
